.headerblue {
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
    margin: auto;
    max-width: 800px;
    font-size: 30px;
}
.title {
    font-size: 60px;
    
}
.text{
    font-size: 30px;
    color: rgb(47, 94, 94);
    margin: auto;
    padding-bottom: 10px;
}
.text2{
    font-size: 20px;
    color: aqua;
    margin: auto;
    text-align: center;
}
.img{
    width: auto;
    
}
.button{
    color: rgb(255, 255, 255);
    background-color: brown;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    width: 30%;
    border-radius: 10px;
}
.boxheader{
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin: 10px;
    display: block;
}
.main-ct{
    max-width: 800px;
    margin: auto;
}